.my-navbar-theme {
    color: white !important;

    a {
        color: white;
        opacity: 90%;
        transition: all 0.4s ease;
        border-bottom: 2px solid var(--primaryColor);
    }

    a:hover {
        color: white;
        border-bottom: 2px solid white;
        opacity: 100%;
    }

    a:active,
    a:focus {
        color: white;
    }

    .active,
    .show {
        color: white !important;
    }

    .dropdown-menu {
        background-color: var(--primaryColor) !important;
    }

    .dropdown-item:hover {
        background-color: var(--primaryColor);
    }

    .navbar-toggler-icon {
        color: white;
    }

}