.itemDoacao {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    flex: 0 1 350px;
}

.cardDoacao {
    .headerDoacao {
        display: flex;
        justify-content: space-around;
    }

    .infoDoacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;

        p {
            margin: 0;
        }
    }

    .card-header {
        background-color: white;
    }

    .card-footer {
        background-color: white;
    }
}