.areaDoacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.cardDoacao {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    flex: 0 1 350px;
    width: 250px;

    .nameTop {
        display: inline-block;
        background-color: var(--auxColor1);
        padding: 10px 20px;
        border-radius: 10px 10px 0 0;
        font-weight: bold;
    }

    .body {
        background-color: var(--auxColor1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 10px 10px 0 10px;
        border-radius: 0px 10px 0px 0px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

        .infoDoacaoContainer {
            background-color: var(--auxColor1);

            p {
                font-weight: bold;
                margin: 0;
                padding: 2px 0;
                word-wrap: break-word;
                white-space: pre-line;
            }
        }
    }

    .containerHr {
        background-color: var(--auxColor1);
        padding: 10px 5px;

        hr {
            margin: 0;
        }
    }

    .footer {
        background-color: var(--auxColor1);
        display: flex;
        padding-bottom: 5px;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

        .btnContainer {
            margin: 0 5px;
            width: 90%;

            button {
                width: 100%;
            }
        }
    }
}