.trDoencas {
    td {
        align-content: center;
    }
}

.tablePrimary {
    border-radius: 10px !important;

    th {
        background-color: var(--primaryColor) !important;
        color: var(--auxColor1) !important;
    }

}