.my-navbar-theme {
    color: var(--primaryColor) !important;
    background-color: var(--auxColor1);

    a {
        color: var(--primaryColor);
        opacity: 90%;
        transition: all 0.4s ease;
        border-bottom: 2px solid var(--auxColor1);
    }

    a:hover {
        color: var(--primaryColor);
        border-bottom: 2px solid var(--primaryColor);
        opacity: 100%;
    }

    .active,
    .show {
        color: var(--primaryColor) !important;
    }

    .navbar-toggler {
        color: var(--primaryColor);
    }


    .logo {
        width: 45px;
        height: 45px;
    }

    .ImagemUsuario {
        width: 35px;
        height: 35px;
    }

}