.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.AreaInputSearch {
    span {
        background-color: transparent;
    }
}