.cardAnimalCuidadsoMedico {
    .headerAnimal {
        display: flex;
        justify-content: center;
    }

    .infoAnimal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin-left: 5px;

        p {
            margin: 0;
            font-size: 110%;
        }
    }

    .card-header {
        background-color: white;
    }

    .imagemAnimal {
        max-width: 90px;
        max-height: 90px;
    }

}

.trCuidadosMedicos {
    td {
        align-content: center;
    }
}

.containerButtonCuidadosMedicos {
    text-align: center;

    button {
        margin: 10px
    }
}