body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primaryColor: #5e2cd3;
  --yellowColor: #FFD951;
}

.backgroundColorPrimary {
  background-color: var(--primaryColor) !important;
}

.textColorPrimary {
  color: var(--primaryColor) !important;
}

.backgroundColorYellow {
  background-color: var(--yellowColor) !important;
}


/* Navbar */
.p-submenu-list {
  background-color: var(--primaryColor);
}

.p-tieredmenu {
  background-color: var(--primaryColor);
}

/* Navbar */